html,
body {
  height: 100%;
}

body {
  @extend %roboto-400;
  font-size: 14px;
  line-height: 22px;
  color: $default;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-fluid{
   width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 10px;
}
