$default: #889099;
$default-2: #323642;
$default-3: #22252e;

$accent: #4cb649;

// fonts

%roboto-300 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

%roboto-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
