@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 40px 0;
  min-height: 40px;
  &__inner {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-left: 205px;
  }
  &__menu {
    margin: 0 auto;
    padding: 0 10px;
  }
  &__btn-box {
    margin-right: 60px;
  }

  &__btn + .header__btn {
    margin-left: 10px;
  }
  &__btn-get {
    width: 160px;
  }
}
.logo {
  &__img {
    max-height: 22px;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    margin-left: 30px;
  }
  &__list-link {
    position: relative;
    padding-right: 20px;
    @extend %roboto-500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $default-2;
  }
  &__list-link::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 5px;
    background-image: url("../images/icons/triangle.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__list-link--special {
    padding-right: 0;
  }
  &__list-link--special::after {
    display: none;
  }
  &__list-link--active {
    padding-bottom: 6px;
    border-bottom: 3px solid $accent;
  }
}
// top

.top {
  &__inner {
    margin-bottom: 30px;
    display: flex;
    background: #ffffff;
    border: 1px solid #d7d8d9;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.101961));
  }
  &__link-img {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 400px;
    display: block;
  }
  &__img {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    object-fit: cover;
  }
  &__content {
    padding: 60px 60px 40px 60px;
  }
  &__link {
  }
  &__title {
    width: 100%;
    max-width: 480px;
    margin-bottom: 79px;
  }
  &__tags {
    padding: 21px 32px;
    background: #f7f7f7;
    border-radius: 4px;
  }
  .tags {
    &__items {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__item {
    }
    &__box {
      display: flex;
      align-items: center;
      margin-right: auto;
    }
    &__box-title {
      margin-right: 43px;
    }
    &__list {
      display: flex;
    }
    &__list-item + .tags__list-item {
      margin-left: 30px;
    }
    &__list-link {
      @extend %roboto-500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      color: $accent;
    }
    &__item-box {
      padding-left: 10px;
    }
    &__item-link {
      display: inline-block;
    }
    &__item-link + .tags__item-link {
      margin-left: 30px;
    }
  }
}
.info {
  &__top {
    margin-bottom: 12px;
    display: flex;
    @extend %roboto-400;
    font-size: 14px;
    line-height: 22px;
  }
  &__author {
    margin-right: 8px;
    color: $default-2;
  }
  &__date {
    color: $default;
  }
  &__list {
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    @extend %roboto-400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }
  &__list-link {
    letter-spacing: 0.5px;
    color: $accent;
  }
  &__list-link + .info__list-link {
    margin-left: 3px;
  }
  &__comments {
  }
  &__comments-span {
    position: relative;
    display: inline-block;
    padding-left: 22px;
  }
  &__comments-span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("../images/icons/comment.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// footer

.footer {
  padding: 85px 0 90px;
  &__inner {
  }
  &__logo {
    display: inline-block;
    margin-bottom: 58px;
  }
  &__items {
    display: flex;
  }
  &__item {
  }
  &__item-company {
    display: block;
    width: 155px;
    margin-right: 46px;
  }
  &__title {
    margin-bottom: 20px;
  }
  ul.footer__list--programs {
    margin-bottom: 40px;
  }

  &__list-item {
  }
  &__list-link {
    margin-bottom: 10px;
    @extend %roboto-400;
    font-size: 14px;
    line-height: 22px;
    color: $default;
  }
  &__item-others {
    width: 165px;
    margin-right: 36px;
  }

  &__item-legal {
    width: 135px;
  }
  &__item-about {
    width: 100%;
    max-width: 600px;
    padding-left: 20px;
    margin-left: auto;
  }
  &__about-text {
    margin-bottom: 12px;
    @extend %roboto-400;
    font-size: 14px;
    line-height: 22px;
    color: $default;
  }
  &__social-box {
    margin-top: 28px;
  }
  &__social {
    display: flex;
    align-items: center;
  }
  &__social-item + .footer__social-item {
    margin-left: 31px;
  }
  &__social-link {
  }
  &__social-icon {
  }
}

@import "media";
