@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 40px 0;
  min-height: 40px;
  &__inner {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-left: 205px;
  }
  &__menu {
    margin: 0 auto;
    padding: 0 10px;
  }
  &__btn-box {
    margin-right: 60px;
  }

  &__btn + .header__btn {
    margin-left: 10px;
  }
  &__btn-get {
    width: 160px;
  }
}
.logo {
  &__img {
    max-height: 22px;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    margin-left: 30px;
  }
  &__list-link {
    position: relative;
    padding-right: 20px;
    @extend %roboto-500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $default-2;
  }
  &__list-link::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 0;
    width: 10px;
    height: 5px;
    background-image: url("../images/icons/triangle.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__list-link--special {
    padding-right: 0;
  }
  &__list-link--special::after {
    display: none;
  }
  &__list-link--active {
    padding-bottom: 6px;
    border-bottom: 3px solid $accent;
  }
}
// top

.top {
  margin-bottom: 40px;
  &__inner {
    margin-bottom: 30px;
    display: flex;
    background: #ffffff;
    border: 1px solid #d7d8d9;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.101961));
  }
  &__link-img {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 400px;
    display: block;
  }
  &__img {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    object-fit: cover;
  }
  &__content {
    padding: 60px 60px 40px 60px;
  }
  &__title {
    width: 100%;
    max-width: 480px;
    margin-bottom: 79px;
  }
  &__tags {
    padding: 21px 32px;
    background: #f7f7f7;
    border-radius: 4px;
  }
  .tags {
    &__items {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__box {
      display: flex;
      align-items: center;
      margin-right: auto;
    }
    &__box-title {
      margin-right: 43px;
    }
    &__list {
      display: flex;
    }
    &__list-item + .tags__list-item {
      margin-left: 30px;
    }
    &__list-link {
      @extend %roboto-500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      color: $accent;
    }
    &__item-box {
      padding-left: 10px;
    }
    &__item-link {
      display: inline-block;
    }
    &__item-link + .tags__item-link {
      margin-left: 30px;
    }
  }
}
.info {
  &__top {
    margin-bottom: 12px;
    display: flex;
    @extend %roboto-400;
    font-size: 14px;
    line-height: 22px;
  }
  &__author {
    margin-right: 8px;
    color: $default-2;
  }
  &__date {
    color: $default;
  }
  &__list {
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    @extend %roboto-400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }
  &__list-link {
    letter-spacing: 0.5px;
    color: $accent;
  }
  &__list-link + .info__list-link {
    margin-left: 3px;
  }

  &__comments-span {
    position: relative;
    display: inline-block;
    padding-left: 22px;
  }
  &__comments-span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("../images/icons/comment.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// footer

.footer {
  padding: 85px 0 90px;

  &__logo {
    display: inline-block;
    margin-bottom: 58px;
  }
  &__items {
    display: flex;
  }

  &__item-company {
    display: block;
    width: 155px;
    margin-right: 46px;
  }
  &__title {
    margin-bottom: 20px;
  }
  ul.footer__list--programs {
    margin-bottom: 40px;
  }
  &__list-link {
    margin-bottom: 10px;
    @extend %roboto-400;
    font-size: 14px;
    line-height: 22px;
    color: $default;
  }
  &__item-others {
    width: 165px;
    margin-right: 36px;
  }
  &__item-legal {
    width: 135px;
  }
  &__item-about {
    width: 100%;
    max-width: 600px;
    padding-left: 20px;
    margin-left: auto;
  }
  &__about-text {
    margin-bottom: 12px;
    @extend %roboto-400;
    font-size: 14px;
    line-height: 22px;
    color: $default;
  }
  &__social-box {
    margin-top: 28px;
  }
  &__social {
    display: flex;
    align-items: center;
  }
  &__social-item + .footer__social-item {
    margin-left: 31px;
  }
}

.blog {
  &__inner {
    display: flex;
  }
  &__content {
    width: 100%;
    max-width: 800px;
    padding-right: 60px;
    margin-right: 60px;
    border-right: 1px solid #ebeced;
  }
  &__title {
    margin-bottom: 10px;
    @extend %roboto-300;
    font-size: 32px;
    line-height: 44px;
    color: $default-3;
  }

  &__posts-btn {
    margin: 0 auto;
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
  &__aside {
    width: 340px;
  }
  &__aside-form {
    margin-bottom: 32px;
  }
  &__aside-item {
    margin-bottom: 32px;
    padding-bottom: 28px;
    border-bottom: 1px solid #ebeced;
  }
  &__aside-banner {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    margin-bottom: 51px;
  }
  &__aside-banner img {
    object-fit: cover;
  }
}

.post {
  padding: 30px 0;
  display: flex;
  width: 100%;
  max-width: 740px;
  border-bottom: 1px solid #ebeced;
  &__link-img {
    max-height: 180px;
    width: 100%;
    max-width: 280px;
    margin-right: 40px;
    display: inline-block;
  }
  &__img {
    object-fit: cover;
  }
  &__content {
    width: 100%;
    max-width: 460px;
  }
  &__content-title {
    margin-bottom: 5px;
  }
  &__article-link {
    @extend %roboto-500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $accent;
  }
}

.blog-form {
  &__box {
    position: relative;
  }
  &__input {
    display: block;
    width: 100%;
    padding: 16px 20px 16px 58px;
    background: #ffffff;
    border: 1px solid #d7d8d9;
    border-radius: 4px;
    @extend %roboto-300;
    font-size: 18px;
    line-height: 28px;
    color: $default-3;
  }
  &__input::placeholder {
    @extend %roboto-300;
    font-size: 18px;
    line-height: 28px;
    color: $default-3;
  }
  &__btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  &__btn img {
    width: 18px;
    height: 18px;
    object-fit: cover;
  }
}

.announcements {
  &__title {
    position: relative;
    padding-left: 60px;
    margin-bottom: 35px;
  }
  &__title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url("../images/icons/announcements.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.aside-list {
  &__item {
    margin-bottom: 16px;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__link {
    position: relative;

    padding-left: 10px;
    display: inline-block;
    @extend %roboto-400;
    font-size: 14px;
    line-height: 22px;
    color: $default-2;
  }
  &__link::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 3px;
    height: 3px;
    background-color: $accent;
    border-radius: 50%;
  }
}
.popular {
  &__title {
    position: relative;
    padding-left: 60px;
    margin-bottom: 35px;
  }
  &__title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
    background-image: url("../images/icons/wifi.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.blog-tag {
  &__title {
    margin-bottom: 15px;
  }
  &__img {
    width: 100%;
    max-width: 324px;
  }
}

.pricing {
  padding-top: 100px;
  padding-bottom: 53px;
  background: linear-gradient(135deg, #3d4251 0%, #272b35 100%);
  &__title {
    margin-bottom: 40px;
    @extend %roboto-300;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
  }
  &__items {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__pay {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  &__pay-title {
    margin-right: 30px;
    @extend %roboto-300;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
  }
  &__pay-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__pay-item {
    margin-right: 30px;
  }

  &__pay-item:last-child {
    margin-left: 0;
  }
  &__box {
    display: flex;
    justify-content: center;
  }
  &__link {
    position: relative;
    margin-right: 40px;
    padding-right: 36px;
    @extend %roboto-500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $accent;
  }
  &__link:last-child{
    margin-right: 0;
  }
  &__link::after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url('../images/icons/arrow.svg');
    background-repeat: no-repeat;
  }
}

.card {
  width: 100%;
  max-width: 380px;
  min-height: 340px;
  padding: 40px 0;
  background: #ffffff;
  border: 1px solid #ebeced;
  border-radius: 6px;
  &__inner {
    margin: 0 auto;
    width: 100%;
    max-width: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 16px;
    @extend %roboto-500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $default-2;
  }
  &__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 24px;
    background-color: $accent;
  }
  &__value {
    width: 100%;
    max-width: 200px;
    margin-bottom: 27px;
    padding-bottom: 18px;
    position: relative;
    @extend %roboto-300;
    color: $default-3;
    font-size: 24px;
    line-height: 32px;
    border-bottom: 1px solid #ebeced;
  }
  &__value-sup {
    position: absolute;
    top: 12px;
    left: 0;
    font-size: 24px;
    line-height: 32px;
  }
  &__value-num {
    padding-left: 20px;
    font-size: 56px;
    line-height: 66px;
  }
  &__value-month {
    font-size: 24px;
    line-height: 32px;
  }
  &__subtitle {
    width: 100%;
    margin-bottom: 30px;
    @extend %roboto-400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $default-2;
  }
  &__subtitle span {
    display: inline-block;
  }
  &__link {
    min-width: 205px;
  }
  &__cost-old {
    margin-right: 8px;
    @extend %roboto-400;
    text-decoration-line: line-through;
    color: #f24458;
  }
  &__cost-discount {
    @extend %roboto-700;
    color: #323642;
  }
}
.card--active {
  min-height: 380px;
  border: 4px solid #4cb649;
  border-radius: 4px;
}

@import "media";
